---
import { getBlogs} from '../../library/microcms'
const response = await getBlogs({ fields: ["id", "title", "image", "media", "publishedAt"] })



import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/footer.astro';

import '../../css/blog/anim-blog.css'
import '../../css/blog/blog.css'
---

<Layout title="blog" />

<main>

    <ul style="margin-top: 400px;">
        {response.contents.map((content => 
            <li style=" color: rgb(255, 255, 255);">
                <a href={content.id}>{content.title}</a>
                <time>{content.publishedAt.substring(0, 10)}</time>
            </li>
        ))}
    </ul>
</main>

<Footer />

