---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/footer.astro';
import Works from '../../layouts/works.astro';
import Download from '../../components/download.astro';
import '../../css/works/anim-hamori.css'
import '../../css/works/hamori.css'
---

<Layout title="HAMORI" />

<main class="">
    <section class="top js-area">
        <div class="top__inner">
            <ul class="top-pan-list">
                <li class="top-pan-list__item">
                    <a href="" class="top-pan-list__link"></a>
                </li>
            </ul>
            <div class="top-title">
                <div class="top-title__logo">
                    <img class="top-title__icon" src="/images/hamori/logo/hamori-icon-black.svg" alt="">
                    <h2 class="top-title__name">HAMORI</h2>
                    <Download title='HAMORI' category='pdf' href='/download-files/HAMORI.pdf.zip' />
                </div>
                <h3 class="top-title__sub-title">飲食店決めをより楽しく、簡単にさせるサポートアプリ</h3>
            </div>
            <div class="top-container">
                <!-- <div class="top-container__border"></div> -->
                <ul class="top-container__list anim-top__looptext" id="js-top__list">
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__nameff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Start</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/hamori/mock/iphone14.png" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Connect</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect-wate.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/create/create-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect-password.jpg" alt="" class="top-container__mock">                                
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-connect-let.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Express</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-express.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Hamori</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-harmonize.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Deside</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-deside.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                    <li class="top-container__item js-item">
                        <div class="top-container__title">
                            <span class="top-container__name ff-en">Let's go</span>
                        </div>
                        <div class="top-container__ui">
                            <img src="../images/join/join-complete.jpg" alt="" class="top-container__mock">                                
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- <section class="summary" id="summary">
        <div class="summary__inner">
            <div class="summary__container" id="container">
                <div class="summary-contents">
                    <div class="summary-contents__content">
                        <h2 class="summary-contents__title">
                            <span class="summary-contents__title-sm">この作品のテーマ</span>
                            <span class="summary-contents__title-lg ff-en">Goal</span>
                        </h2>
                        <h3 class="summary-contents__heading">大学生の食生活を大学生の食生活を楽しいものにする</h3>                            
                        <p class="summary-contents__text">
                            もともとは大学2年後期に「1人暮らしの大学生が料理をまたしたい！楽しい！」というテーマのもと、
                            かっぷるメシというアプリを提案したが、ブラッシュアップする段階でテーマをもっと広いものに設定して取り組みました。
                        </p>
                    </div>
                    <div class="summary-contents__content summary-contents__content-mt">
                        <h2 class="summary-contents__title">
                            <span class="summary-contents__title-sm">この作品のテーマ</span>
                            <span class="summary-contents__title-lg">Goal</span>
                        </h2>
                        <h3 class="summary-contents__heading">大学生の食生活を大学生の食生活を楽しいものにする</h3>                            
                        <p class="summary-contents__text">
                            もともとは大学2年後期に「1人暮らしの大学生が料理をまたしたい！楽しい！」というテーマのもと、
                            かっぷるメシというアプリを提案したが、ブラッシュアップする段階でテーマをもっと広いものに設定して取り組みました。
                        </p>
                    </div>
                </div>
                <div class="summary-mock">
                    <img src="../../images/hamori/mock/double-mock.png" alt="" class="summary-mock__img">
                </div>
            </div>
        </div>
    </section>

    <div class="about">
        <div class="inner inner--hamori-about">
            <h2 class="about-title-h2">HAMORI<span class="font-jp">について</span></h2>
            <p class="about-lead">
                    HAMORIは人数の多さに関わらず、
                    飲食店決めの意思決定を早くさせることで感じるストレスを減らし、
                    その後の食事のモチベーションの維持・向上をさせることができるアプリケーションです。
            </p>
            <div class="about-index">
                <img class="about-index-logo" src="/portfolio/assets/hamori/logo/hamori-icon-black.svg" alt="">
                <h4 class="about-title-h4">index</h4>
                <ol class="about-index-list">
                    <li class="about-index-list__item">
                        <a href="" class="about-index-list__link">1.HAMORIならではの強み</a>
                    </li>
                    <li class="about-index-list__item">
                        <a href="" class="about-index-list__link">2.HAMORIができるまで</a>
                    </li>
                    <li class="about-index-list__item">
                        <a href="" class="about-index-list__link">3.HAMORIのUI</a>
                    </li>
                </ol>
            </div>
            <div class="about__container" id="js-about-index-1">
                <h3 class="about-title-h3">1.HAMORIならではの強み</h3>
                <ul class="about-strength-list">
                    <li class="about-strength-list__item">
                        <p class="about-strength-list__text">
                            <span class="font-small">悩む回数を極限までに減らすことで</span>
                            <br>飲食店決めの難易度を下げる
                        </p>
                    </li>
                    <li class="about-strength-list__item">
                        <p class="about-strength-list__text">
                            <span class="font-small">カラオケのようなシステムを取り入れることで</span>
                            <br>食事までのモチベーションを維持・向上
                        </p>
                    </li>
                </ul>
            </div>
            <div class="about__container" id="js-about-index-2">
                <h3 class="about-title-h3">2.HAMORIができるまで</h3>
                <div class="about__wrapper about__wrapper--first">
                    <h4 class="about-title-h4">リサーチ</h4>
                    <p class="text-jp">
                    飲食店を決める際の悩みとして、大人数で行くときに意見がまとまらない、遠慮して自分の意見を言えない、探すのが面倒くさい、そもそも何を食べたいのかわからないといった
                    悩みが私自身の経験や大学生3人にしたインタビューを通してわかり、目当ての食べ物や店がないと飲食店の難易度が格段に上がってしまうということがわかった。また、なかなか
                    決まらないと空気が重くなってしまったり飲食店に行くモチベーションが低下してしまうということもわかった
                    </p>
                </div>
                <div class="about__wrapper">
                    <h4 class="about-title-h4">分析</h4>
                    <p class="text-jp">
                    結局どこにいっても友達とだったら楽しいという回答をもとに、何を食べたいのかわからない人を含め飲食店決めで悩んでいる人はどこにいってもそれなりに満足できるのではないか
                    と感じ、楽しむために一番いい飲食店を見つけるのではなく、なかなか決まらなく空気を重くして飲食店に行くモチベーションを下げさせないためにも、楽しみながらなんとなくいい
                    飲食店をパッと決めるということが大切なのではないかと仮説を立てる。
                    </p>
                </div>
                <div class="about__wrapper">
                    <h4 class="about-title-h4">アイデア</h4>
                    <p class="text-jp">
                    そこで、カラオケのように誰かとハモったり一緒に歌い、最後に採点されるというような仕組みを取り入れればいいのではと考えた。
                    具体的に、みんなで一斉に食の気分を声に出す、気分や声や意見がハモる、そのハモリをもとにその人たちに最適な飲食店をアプリが一つ提案してくれる、最後にそこに行くか行かな
                    いかだけを決める。
                    </p>
                </div>
                <div class="about__wrapper">
                    <h4 class="about-title-h4">そうすることによって</h4>
                    <p class="text-jp">
                    悩む工程が減り意思決定を簡単にしたり気分を下げることがなくなるほか、一斉に声に出してハモらせることによって一体感や
                    </p>
                </div>
                <div class="about__wrapper">
                    <h4 class="about-title-h4">ユーザー体験</h4>
                    <p class="text-jp">
                    ユーザーには
                    </p>
                </div>
            </div>
            <div class="about__container" id="js-about-index-3">
                <h3 class="about-title-h3">3.UI</h3>
                <p class="about-lead-small">
                    飲食店を決める際の悩みとして、大人数で行くときに意見がまとまらない、遠慮して自分の意見を言えない、探すのが面倒くさい、そもそも何を食べたいのかわからないといった
                    悩みが私自身の経験や大学生3人にしたインタビューを通してわかり、目当ての食べ物や店がないと飲食店の難易度が格段に上がってしまうということがわかった。また、なかなか
                    決まらないと空気が重くなってしまったり飲食店に行くモチベーションが低下してしまうということもわかった
                </p>
                <div class="about__wrapper">
                    <h4 class="about-title-h4">リサーチ</h4>
                    <p class="text-jp">
                    飲食店を決める際の悩みとして、大人数で行くときに意見がまとまらない、遠慮して自分の意見を言えない、探すのが面倒くさい、そもそも何を食べたいのかわからないといった
                    悩みが私自身の経験や大学生3人にしたインタビューを通してわかり、目当ての食べ物や店がないと飲食店の難易度が格段に上がってしまうということがわかった。また、なかなか
                    決まらないと空気が重くなってしまったり飲食店に行くモチベーションが低下してしまうということもわかった
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <section class="scroll section">
        <div class="contents_inner">
            <h2 class="h2_title">
              横スクロールアニメーション
            </h2>
            <div class="scroll_container">
                <div class="scroll_wrap">
                    <div class="scroll_box">横</div>
                    <div class="scroll_box">ス</div>      
                    <div class="scroll_box">ク</div>
                    <div class="scroll_box">ロ</div>      
                    <div class="scroll_box">ー</div>      
                    <div class="scroll_box">ル</div>      
                    <div class="scroll_box">ア</div>      
                    <div class="scroll_box">二</div>
                    <div class="scroll_box">メ</div>
                    <div class="scroll_box">ー</div>
                    <div class="scroll_box">シ</div>      
                    <div class="scroll_box">ョ</div>      
                    <div class="scroll_box">ン</div>      
                </div>
            </div>
        </div>
    </section> -->
    <Works/>
    <Footer/>
</main>