@use "../root/root.css";
@use "../layouts/layout.css";

.ds-none{
    display: none;
}
.ds-block{
    animation: ds-block .2s forwards linear;
    @keyframes ds-block {
        0%{
            opacity: 0;
            display: none;
        }
        100%{
            opacity: 1;
            display: block;
        }
    }
}

.ds-out{
    display: none;
}
.ds-in{
    display: block;
}

.anim {
    &-ham {
        &__item1 {
            &--rotate-0{
                animation: item1-rotate-0 .2s forwards;
                @keyframes item1-rotate-0 {
                    0%{
                        transform: translateY(10px) rotate(-45deg);
                    }
                    100%{
                       transform: 0;
                    }
                }
            }
            &--rotate-45{
                animation: item1-rotate-45 .2s forwards;
                @keyframes item1-rotate-45 {
                    0%{
                        transform: 0;
                    }
                    100%{
                        transform: translateY(10px) rotate(-45deg);
                    }
                }
            }
        }
        &__item2 {
            &--op-0{
                animation: item2-op-0 .1s forwards;
                @keyframes item2-op-0 {
                    0%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
            &--op-1{
                animation: item2-op-1 .2s forwards;
                @keyframes item2-op-1 {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }
        &__item3 {
            &--rotate-0{
                animation: item3-rotate-0 .2s forwards;
                @keyframes item3-rotate-0 {
                    0%{
                        transform: translateY(-6px) rotate(45deg);
                    }
                    100%{
                       transform: 0;
                    }
                }
            }
            &--rotate-45{
                animation: item3-rotate-45 .2s forwards;
                @keyframes item3-rotate-45 {
                    0%{
                        transform: 0;
                    }
                    100%{
                        transform: translateY(-6px) rotate(45deg);
                    }
                }
            }
        }
    }
    
    
}