---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/footer.astro';
import Works from '../layouts/works.astro';
import Alert from '../components/alert.astro';
// import Mordal_back from '../components/mordal-back.astro';
import '../css/top/anim-top.css'
import '../css/top/style.css'
---

<Layout title="portfolio-site"/>
<Alert />
<!-- <Mordal_back/> -->
<main>
	<!-- <div class="mordal-back" id="js-mordal-back"></div> -->
	<div class="hero">
		<div class="inner inner--hero">
			<div class="hero__images">
				<div class="hero__image hero__image-item1">
					<img src="../../images/me.JPG" alt="相原立弥の写真">
				</div>                        
				<div class="hero__image hero__image-item2">
					<img src="../../images/me.JPG" alt="相原立弥の写真">
				</div>
				<div class="hero__image hero__image-item3">
					<img src="../../images/me.JPG" alt="相原立弥の写真">
				</div>
			</div>
			<h1 class="hero-text">
				<span class="hero__title anim-hero__title">TaT ー Portfolio</span>
				<span class="hero__border anim-hero__border" id="js-hero__border"></span>
				<span class="hero__subtitle anim-hero__subtitle">UI/UX + coding</span>
			</h1>
		 </div>
	</div>

	<div class="scrolldown">
		<div class="inner inner--scrolldown">
			<p class="scrolldown__scroll anim-fadein-scroll">scroll down</p>
			<span class="scrolldown__line anim-fadein-scroll anim-scrolldown" id="js-scrolldown"></span>
			<!-- <p class="scrolldown__thankyou">Thank you!</p> -->
		</div>
	</div>

	<section class="about">
		<div class="inner inner--about">
			<h2 class="heading heading--about">
				<span class="heading__wrapper">
					<span class="heading__splitText">A</span>
					<span class="heading__splitText">B</span>
					<span class="heading__splitText">O</span>
					<span class="heading__splitText">U</span>
					<span class="heading__splitText">T</span>
				</span>
			</h2>
			<div class="about__contents">
				<div class="about__container">
					<ol class="about__list">
						<li class="about__item">
							<span class="sub-heading">My name</span>
							<p class="about__text about__text-name">相原立弥 - TATSUYA AIHARA</p>
						</li>
						<li class="about__item">
							<span class="sub-heading">My university</span>
							<p class="about__text">千葉工業大学/創造工学部/デザイン科学科 3年</p>
						</li>
						<li class="about__item">
							<span class="sub-heading">My mind</span>
							<p class="about__text">設計したユーザー体験に命を吹き込むUIを</p>
						</li>
						<li class="about__item">
							<p class="about__text about__text-description">
								大学では主にUI/UXについて学び、独学ではWebサイト制作について学んでいます。大学では主にUI/UXについて学び、独学ではWebサイト制作について学んでいます。大学では主にUI/UXについて学び。
							</p>
						</li>
					</ol>
					<figure class="about__image">
						<img src="../../images/me.JPG" alt="">
					</figure>
				</div>
				<div class="about-links">
					<div class="about-links__elem">
						<p class="about-links__text">sns</p>
						<ul class="about-links__list">
							<li class="about-links__item">
								<a id="js-about-insta">
									<svg width="24" height="24" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.0002 0.333008H24.0002C29.3335 0.333008 33.6668 4.66634 33.6668 9.99967V23.9997C33.6668 26.5634 32.6484 29.0222 30.8355 30.835C29.0227 32.6479 26.5639 33.6663 24.0002 33.6663H10.0002C4.66683 33.6663 0.333496 29.333 0.333496 23.9997V9.99967C0.333496 7.43592 1.35195 4.97716 3.1648 3.16431C4.97765 1.35146 7.4364 0.333008 10.0002 0.333008ZM9.66683 3.66634C8.07553 3.66634 6.54941 4.29848 5.42419 5.4237C4.29897 6.54892 3.66683 8.07504 3.66683 9.66634V24.333C3.66683 27.6497 6.35016 30.333 9.66683 30.333H24.3335C25.9248 30.333 27.4509 29.7009 28.5761 28.5756C29.7014 27.4504 30.3335 25.9243 30.3335 24.333V9.66634C30.3335 6.34967 27.6502 3.66634 24.3335 3.66634H9.66683ZM25.7502 6.16634C26.3027 6.16634 26.8326 6.38583 27.2233 6.77654C27.614 7.16724 27.8335 7.69714 27.8335 8.24967C27.8335 8.80221 27.614 9.33211 27.2233 9.72281C26.8326 10.1135 26.3027 10.333 25.7502 10.333C25.1976 10.333 24.6677 10.1135 24.277 9.72281C23.8863 9.33211 23.6668 8.80221 23.6668 8.24967C23.6668 7.69714 23.8863 7.16724 24.277 6.77654C24.6677 6.38583 25.1976 6.16634 25.7502 6.16634ZM17.0002 8.66634C19.2103 8.66634 21.3299 9.54431 22.8927 11.1071C24.4555 12.6699 25.3335 14.7895 25.3335 16.9997C25.3335 19.2098 24.4555 21.3294 22.8927 22.8922C21.3299 24.455 19.2103 25.333 17.0002 25.333C14.79 25.333 12.6704 24.455 11.1076 22.8922C9.5448 21.3294 8.66683 19.2098 8.66683 16.9997C8.66683 14.7895 9.5448 12.6699 11.1076 11.1071C12.6704 9.54431 14.79 8.66634 17.0002 8.66634ZM17.0002 11.9997C15.6741 11.9997 14.4023 12.5265 13.4646 13.4641C12.5269 14.4018 12.0002 15.6736 12.0002 16.9997C12.0002 18.3258 12.5269 19.5975 13.4646 20.5352C14.4023 21.4729 15.6741 21.9997 17.0002 21.9997C18.3262 21.9997 19.598 21.4729 20.5357 20.5352C21.4734 19.5975 22.0002 18.3258 22.0002 16.9997C22.0002 15.6736 21.4734 14.4018 20.5357 13.4641C19.598 12.5265 18.3262 11.9997 17.0002 11.9997Z" fill="white"/>
									</svg>
								</a>
							</li>
							<li class="about-links__item">
								<a id="js-about-twitter">
									<svg width="24" height="24" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.3332 0.333008H0.666504L14.4332 18.6897L1.4165 33.6663H5.83317L16.4798 21.418L25.6665 33.6663H37.3332L22.9865 14.5363L35.3332 0.333008H30.9165L20.9398 11.8097L12.3332 0.333008ZM27.3332 30.333L7.33317 3.66634H10.6665L30.6665 30.333H27.3332Z" fill="white"/>
									</svg>
								</a>
							</li>
						</ul>
					</div>
					<div class="about-links__elem">
						<button class="about-links__btn">
							<a href="../about">
								<p>know more about me</p>
								<span class="about-links__arrow">
									<svg width="72" height="24" viewBox="0 0 72 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 23H69L45.5 1" stroke="white" stroke-width="2"/>
									</svg>    
								</span>
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="skills">
		<div class="inner inner--skills">
			<h2 class="heading heading--skills">
				<span class="heading__wrapper js-heading--skills">
					<span class="heading__splitText">s</span>
					<span class="heading__splitText">k</span>
					<span class="heading__splitText">i</span>
					<span class="heading__splitText">l</span>
					<span class="heading__splitText">l</span>
					<span class="heading__splitText">s</span>
				</span>
			</h2>
			<div class="skills__contents">
				<aside class="skills__aside ff-en">
					<div class="skills__aside__inner">
						<ol class="skills__aside__list">
							<li class="skills__aside__item">
								<a href="">UI</a>
							</li>
							<li class="skills__aside__item">
								<a href="">UX</a>
							</li>
							<li class="skills__aside__item">
								<a href="">Website coding</a>
							</li>
							<li class="skills__aside__item">
								<a href="">Skill set</a>
							</li>
						</ol>
						<div class="skills__aside__scroll">
							<a href="/">
								<span class="scroll__text">works</span>
								<span class="scroll__border anim-border-scroll">
								</span>
							</a>
						</div>
					</div>
				</aside>
				<div class="skills__container">
					<ol class="skills__list">
						<li class="skills__item">
							<span class="skills__item-name">UI</span>
							<h3 class="skills__item-heading">ユニークで正確なものを。</h3>
							<p class="skills__item-description">UI制作ではFigmaを使用し、オートレイアウトやコンポーネントの設
								計を意識し、自分だけではなく他の方にも伝わりやすく操作しやすい
								作業環境を意識しています。そして、ユーザーが触って直感的に理解
								でき、かつワクワクさせるということをモットーにUIを制作していき
								ます。</p>
						</li>
						<li class="skills__item">
							<span class="skills__item-name">UX</span>
							<h3 class="skills__item-heading">固定観念ぶち壊せ。</h3>
							<p class="skills__item-description">大学では、設定された課題・テーマに対して、上流からアウトプット制作まで行っています。
								なぜ？を意識してユーザーや対象者の本質を汲み取り、それを斜め405°の角度でのアイデア出しを心がけています。
								そして、そのアイデアが「どんなユーザーのどんな課題を解決させるためにどんな価値を与えられるか」をはっきりさせます。
							</p>
						</li>
						<li class="skills__item">
							<span class="skills__item-name">Web development</span>
							<h3 class="skills__item-heading">ワクワクとユーザビリティ</h3>
							<p class="skills__item-description">デザインとは、人の感情にアクセスし、「もっといい」を生み出す魔法のツールだと考えています。デザインとは、人の感情にアクセスし、「もっといい」を生み出す魔法のツールだと考えています。デザインとは、人の感情にアクセスし、「もっといい」を生み出す魔法のツールだと考えています。
							</p>
						</li>
						<li class="skills__item">
							<span class="skills__item-name">Skill set</span>
							<div class="skills__skillset">
								<p class="skills__skillset__category">Design</p>
								<div class="skills__skillset__wrapper" id="js-skillset">
									<div class="skills__skillset__item" id="js-shadow-fig">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">Figma</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-fig" id="js-fig__meter">
											<span class="skills__skillset__meter el1 " id="fig-elem"></span>
											<span class="skills__skillset__meter el2 " id="fig-elem"></span>
											<span class="skills__skillset__meter el3 " id="fig-elem"></span>
											<span class="skills__skillset__meter el4 " id="fig-elem"></span>
											<span class="skills__skillset__meter el5 " id="fig-elem"></span>
											<span class="skills__skillset__meter el6 " id="fig-elem"></span>
											<span class="skills__skillset__meter el7 " id="fig-elem"></span>
											<span class="skills__skillset__meter el8 " id="fig-elem"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">80%</span>
										</div>
									</div>
									<div class="skills__skillset__item" id="js-shadow-ai">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">Illustrator</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-Ai" id="js-ai__meter">
											<span class="skills__skillset__meter el1" id="ai-elem"></span>
											<span class="skills__skillset__meter el2" id="ai-elem"></span>
											<span class="skills__skillset__meter el3" id="ai-elem"></span>
											<span class="skills__skillset__meter el4" id="ai-elem"></span>
											<span class="skills__skillset__meter el5"></span>
											<span class="skills__skillset__meter el6"></span>
											<span class="skills__skillset__meter el7"></span>
											<span class="skills__skillset__meter el8"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">40%</span>
										</div>
									</div>
									<div class="skills__skillset__item"  id="js-shadow-ps">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">Photoshop</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-Ps" id="js-ps__meter">
											<span class="skills__skillset__meter el1" id="ps-elem"></span>
											<span class="skills__skillset__meter el2" id="ps-elem"></span>
											<span class="skills__skillset__meter el3"></span>
											<span class="skills__skillset__meter el4"></span>
											<span class="skills__skillset__meter el5"></span>
											<span class="skills__skillset__meter el6"></span>
											<span class="skills__skillset__meter el7"></span>
											<span class="skills__skillset__meter el8"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">20%</span>
										</div>
									</div>
								</div>

								<span class="skills__skillset__category skills__skillset__category-coding">Coding</span>
								<div class="skills__skillset__wrapper">
									<div class="skills__skillset__item"  id="js-shadow-hc">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">HTML/CSS</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-HC" id="js-hc__meter">
											<span class="skills__skillset__meter el1" id="hc-elem"></span>
											<span class="skills__skillset__meter el2" id="hc-elem"></span>
											<span class="skills__skillset__meter el3" id="hc-elem"></span>
											<span class="skills__skillset__meter el4" id="hc-elem"></span>
											<span class="skills__skillset__meter el5" id="hc-elem"></span>
											<span class="skills__skillset__meter el6" id="hc-elem"></span>
											<span class="skills__skillset__meter el7" id="hc-elem"></span>
											<span class="skills__skillset__meter el8"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">70%</span>
										</div>
									</div>
									<div class="skills__skillset__item"  id="js-shadow-js">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">Javascript</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-Js" id="js-js__meter">
											<span class="skills__skillset__meter el1" id="js-elem"></span>
											<span class="skills__skillset__meter el2" id="js-elem"></span>
											<span class="skills__skillset__meter el3" id="js-elem"></span>
											<span class="skills__skillset__meter el4" id="js-elem"></span>
											<span class="skills__skillset__meter el5"></span>
											<span class="skills__skillset__meter el6"></span>
											<span class="skills__skillset__meter el7"></span>
											<span class="skills__skillset__meter el8"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">40%</span>
										</div>
									</div>
									<div class="skills__skillset__item" id="js-shadow-wp">
										<div class="skills__skillset__tool">
											<!-- <span class="skills__skillset__logo">
												<svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.83361 0.562775C4.74983 0.561972 3.69394 0.906184 2.81886 1.54556C1.94378 2.18493 1.29495 3.08627 0.966338 4.11902C0.637728 5.15177 0.646403 6.26232 0.991107 7.28982C1.33581 8.31731 1.99865 9.2084 2.88361 9.83402C2.21731 10.3053 1.67392 10.9297 1.29913 11.6547C0.924342 12.3797 0.729112 13.1841 0.729857 14.0003C0.729857 15.7203 1.58111 17.2428 2.88611 18.1665C2.1712 18.6726 1.59856 19.3541 1.22328 20.1455C0.848007 20.937 0.682726 21.8117 0.743344 22.6854C0.803962 23.5592 1.08844 24.4027 1.5694 25.1348C2.05036 25.8668 2.71162 26.4627 3.48956 26.8652C4.2675 27.2677 5.13593 27.4632 6.0113 27.4329C6.88667 27.4027 7.73951 27.1476 8.48778 26.6923C9.23605 26.237 9.85455 25.5968 10.2838 24.8333C10.713 24.0698 10.9385 23.2087 10.9386 22.3328V17.9528C11.4696 18.3829 12.0815 18.7021 12.7382 18.8913C13.3948 19.0805 14.0827 19.136 14.7612 19.0543C15.4396 18.9727 16.0948 18.7556 16.6878 18.416C17.2808 18.0764 17.7995 17.6212 18.2133 17.0773C18.627 16.5335 18.9274 15.9121 19.0964 15.25C19.2655 14.5879 19.2999 13.8985 19.1976 13.2229C19.0953 12.5472 18.8583 11.899 18.5008 11.3167C18.1432 10.7343 17.6723 10.2297 17.1161 9.83278C18.0011 9.20715 18.6639 8.31606 19.0086 7.28857C19.3533 6.26107 19.362 5.15052 19.0334 4.11777C18.7048 3.08502 18.0559 2.18368 17.1809 1.54431C16.3058 0.904934 15.2499 0.560722 14.1661 0.561525H5.83611L5.83361 0.562775ZM9.06236 17.229H5.83361C5.4096 17.229 4.98975 17.1455 4.59802 16.9833C4.20629 16.821 3.85035 16.5832 3.55054 16.2833C3.25072 15.9835 3.01289 15.6276 2.85063 15.2359C2.68837 14.8441 2.60486 14.4243 2.60486 14.0003C2.60486 13.5763 2.68837 13.1564 2.85063 12.7647C3.01289 12.373 3.25072 12.017 3.55054 11.7172C3.85035 11.4174 4.20629 11.1796 4.59802 11.0173C4.98975 10.855 5.4096 10.7715 5.83361 10.7715H9.06236V17.229ZM5.83361 8.89652H9.06236V2.43777H5.83361C4.97712 2.43777 4.15572 2.77801 3.55009 3.38364C2.94447 3.98926 2.60423 4.81067 2.60423 5.66715C2.60423 6.52363 2.94447 7.34504 3.55009 7.95066C4.15572 8.55629 4.97712 8.89652 5.83361 8.89652ZM17.3961 5.66653C17.3964 6.52241 17.0569 7.34341 16.4522 7.94908C15.8475 8.55475 15.027 8.89553 14.1711 8.89652H10.9374V2.43777H14.1674C14.5914 2.43777 15.0112 2.52129 15.4029 2.68355C15.7947 2.84581 16.1506 3.08364 16.4504 3.38345C16.7502 3.68327 16.9881 4.03921 17.1503 4.43094C17.3126 4.82267 17.3961 5.24252 17.3961 5.66653ZM10.9374 13.9965C10.9383 13.1415 11.2784 12.3218 11.883 11.7172C12.4876 11.1126 13.3073 10.7725 14.1624 10.7715H14.1699C14.8081 10.7723 15.4319 10.9622 15.9622 11.3172C16.4926 11.6723 16.9059 12.1766 17.1498 12.7664C17.3937 13.3562 17.4573 14.0051 17.3326 14.6311C17.2079 15.2571 16.9005 15.832 16.4492 16.2833C15.9979 16.7347 15.4229 17.0421 14.7969 17.1668C14.171 17.2915 13.5221 17.2279 12.9322 16.984C12.3424 16.7401 11.8381 16.3268 11.4831 15.7964C11.128 15.266 10.9381 14.6423 10.9374 14.004V13.9965ZM5.83361 19.104C5.19507 19.104 4.57088 19.2934 4.03994 19.6481C3.509 20.0028 3.09516 20.507 2.85075 21.0969C2.60634 21.6868 2.54232 22.3359 2.66681 22.9622C2.79129 23.5885 3.09867 24.1638 3.55009 24.6154C4.00152 25.067 4.57671 25.3746 5.20294 25.4993C5.82918 25.6241 6.47833 25.5603 7.06833 25.3161C7.65833 25.0719 8.16268 24.6583 8.51761 24.1275C8.87254 23.5967 9.06211 22.9726 9.06236 22.334V19.104H5.83361Z" fill="white"/>
												</svg>
											</span> -->
											<h4 class="skills__skillset__name">Wordpress</h4>
										</div>
										<div class="skills__skillset__level skills__skillset__level-Wp" id="js-wp__meter">
											<span class="skills__skillset__meter el1" id="wp-elem"></span>
											<span class="skills__skillset__meter el2" id="wp-elem"></span>
											<span class="skills__skillset__meter el3"></span>
											<span class="skills__skillset__meter el4"></span>
											<span class="skills__skillset__meter el5"></span>
											<span class="skills__skillset__meter el6"></span>
											<span class="skills__skillset__meter el7"></span>
											<span class="skills__skillset__meter el8"></span>
											<span class="skills__skillset__meter el9"></span>
											<span class="skills__skillset__meter el10"></span>
											<span class="skills__skillset__circle">20%</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<Works/>

	<section class="contact">
		<div class="inner inner--contact">
			<!-- <div class="alert">
				<div class="alert__body">
					<p class="alert__text">instagramを開きますか？</p>
					<div class="alert__btn-wrapper">
						<button class="alert-button alert-button--yes">
							<a href="https://instagram.com/tatsu_aihara" class="alert-button__link">はい</a>
						</button>
						<button class="alert-button alert-button--no">
							いいえ
						</button>
					</div>
				</div>
				<button class="alert-close">
					<span class="alert-close__elem alert-close__elem--left"></span>
					<span class="alert-close__elem alert-close__elem--right"></span>
				</button>
			</div> -->
			<h2 class="heading heading--contact">
				<span class="heading__wrapper js-heading--contact">
					<span class="heading__splitText">C</span>
					<span class="heading__splitText">o</span>
					<span class="heading__splitText">n</span>
					<span class="heading__splitText">t</span>
					<span class="heading__splitText">a</span>
					<span class="heading__splitText">c</span>
					<span class="heading__splitText">t</span>
				</span>
			</h2>
			<div class="contact__contents ff-en">
				<div class="contact-email">
					<a class="contact-email__link" href="mailto:tatsu0823takasago@icloud.com">
						<span class="contact-email__icon">
							<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.3332 66.6663C11.4998 66.6663 9.92984 66.013 8.62318 64.7063C7.31651 63.3997 6.66429 61.8308 6.66651 59.9997V19.9997C6.66651 18.1663 7.31984 16.5963 8.62651 15.2897C9.93318 13.983 11.5021 13.3308 13.3332 13.333H66.6665C68.4998 13.333 70.0698 13.9863 71.3765 15.293C72.6832 16.5997 73.3354 18.1686 73.3332 19.9997V59.9997C73.3332 61.833 72.6798 63.403 71.3732 64.7097C70.0665 66.0163 68.4976 66.6686 66.6665 66.6663H13.3332ZM39.9998 43.333L13.3332 26.6663V59.9997H66.6665V26.6663L39.9998 43.333ZM39.9998 36.6663L66.6665 19.9997H13.3332L39.9998 36.6663ZM13.3332 26.6663V19.9997V59.9997V26.6663Z" fill="#D9D9D9"/>
							</svg>
						</span>
					</a>
					<a class="contact-email__textlink" href="mailto:tatsu0823takasago@icloud.com">
						tatsu0823takasago@icloud.com
					</a>
				</div>
				<div class="contact-sns" id="sns">
					<span class="contact-sns-insta" id="js-contact-insta"></span>
					<span class="contact-sns-twitter" id="js-contact-twitter"></span>
					<span class="contact-sns-insta--sp" id="js-contact-insta-alert"></span>
					<span class="contact-sns-twitter--sp" id="js-contact-twitter-alert"></span>
					<a class="contact-sns-insta__hover" id="js-contact-insta-hover" href="https://instagram.com/tatsu_aihara"></a>
					<a class="contact-sns-twitter__hover"  id="js-contact-twitter-hover" href="twitter:@tatsu_aihara"></a>
					<span class="contact-sns__icon" id="js-icon-insta">
						<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25.9998 6.66699H53.9998C64.6665 6.66699 73.3332 15.3337 73.3332 26.0003V54.0003C73.3332 59.1278 71.2963 64.0454 67.6706 67.6711C64.0449 71.2968 59.1274 73.3337 53.9998 73.3337H25.9998C15.3332 73.3337 6.6665 64.667 6.6665 54.0003V26.0003C6.6665 20.8728 8.7034 15.9553 12.3291 12.3296C15.9548 8.70389 20.8723 6.66699 25.9998 6.66699ZM25.3332 13.3337C22.1506 13.3337 19.0983 14.5979 16.8479 16.8484C14.5975 19.0988 13.3332 22.1511 13.3332 25.3337V54.667C13.3332 61.3003 18.6998 66.667 25.3332 66.667H54.6665C57.8491 66.667 60.9014 65.4027 63.1518 63.1523C65.4022 60.9018 66.6665 57.8496 66.6665 54.667V25.3337C66.6665 18.7003 61.2998 13.3337 54.6665 13.3337H25.3332ZM57.4998 18.3337C58.6049 18.3337 59.6647 18.7726 60.4461 19.554C61.2275 20.3354 61.6665 21.3953 61.6665 22.5003C61.6665 23.6054 61.2275 24.6652 60.4461 25.4466C59.6647 26.228 58.6049 26.667 57.4998 26.667C56.3948 26.667 55.335 26.228 54.5536 25.4466C53.7722 24.6652 53.3332 23.6054 53.3332 22.5003C53.3332 21.3953 53.7722 20.3354 54.5536 19.554C55.335 18.7726 56.3948 18.3337 57.4998 18.3337ZM39.9998 23.3337C44.4201 23.3337 48.6593 25.0896 51.7849 28.2152C54.9106 31.3408 56.6665 35.58 56.6665 40.0003C56.6665 44.4206 54.9106 48.6598 51.7849 51.7854C48.6593 54.911 44.4201 56.667 39.9998 56.667C35.5796 56.667 31.3403 54.911 28.2147 51.7854C25.0891 48.6598 23.3332 44.4206 23.3332 40.0003C23.3332 35.58 25.0891 31.3408 28.2147 28.2152C31.3403 25.0896 35.5796 23.3337 39.9998 23.3337ZM39.9998 30.0003C37.3477 30.0003 34.8041 31.0539 32.9288 32.9293C31.0534 34.8046 29.9998 37.3482 29.9998 40.0003C29.9998 42.6525 31.0534 45.196 32.9288 47.0714C34.8041 48.9468 37.3477 50.0003 39.9998 50.0003C42.652 50.0003 45.1955 48.9468 47.0709 47.0714C48.9463 45.196 49.9998 42.6525 49.9998 40.0003C49.9998 37.3482 48.9463 34.8046 47.0709 32.9293C45.1955 31.0539 42.652 30.0003 39.9998 30.0003Z" fill="#D9D9D9"/>
						</svg>                                                             
					</span>
					<p class="contact-sns__text">@tatsu_aihara</p>
					<span class="contact-sns__icon" id="js-icon-twitter">
						<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M26.6668 6.66699H3.3335L30.8668 43.3803L4.8335 73.3337H13.6668L34.9602 48.837L53.3335 73.3337H76.6668L47.9735 35.0737L72.6668 6.66699H63.8335L43.8802 29.6203L26.6668 6.66699ZM56.6668 66.667L16.6668 13.3337H23.3335L63.3335 66.667H56.6668Z" fill="#D9D9D9"/>
						</svg>                     
					</span>
				</div>
			</div>
		</div>
	</section>
</main>

<Footer/>

<!-- <script>
	// document.querySelectorAll('#js-contact-insta-alert').forEach((contact_insta)=>{
	// 	const insta_alert = contact_insta.querySelector('#js-alert')
    //     const alert_back = contact_insta.querySelector('#js-alert-back')
	//     contact_insta.addEventListener('click', ()=>{
	//     	console.log(insta_alert)
	//     	insta_alert.classList.add('ds-in')
	//     	insta_alert.classList.remove('ds-none')
	//     	alert_back.classList.add('ds-in')
	//     	alert_back.classList.remove('ds-none')
	//     })
	// })
	
	// document.querySelectorAll('#js-alert').forEach((alert_area)=>{
	// 	const contact_insta = document.getElementById('js-contact-insta-alert')
	//     const contact_twitter = document.getElementById('js-contact-twitter-alert')
	// 	const insta_alert = document.querySelector('#js-alert')
    //     const mordal_back = document.querySelector('#js-mordal-back')
	//     const alert_text = document.querySelector('#js-alert-text')
	//     const alert_link = document.querySelector('#js-alert-link')
	//     const alert_yes = document.querySelector('#js-alert-yes')
    //     const alert_no = document.querySelector('#js-alert-no')
	// 	contact_insta.addEventListener('click', ()=>{
	//     	console.log(alert_link)
	//     	console.log(alert_text)
	//     	insta_alert.classList.add('ds-in')
	//     	insta_alert.classList.remove('ds-none')
	//     	mordal_back.classList.add('ds-in')
	//     	mordal_back.classList.remove('ds-out')
	//     	alert_text.textContent = "Instagramを開きますか？"
	//     	alert_link.innerHTML = '<a href="https://instagram.com/tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
	//     	alert_yes.classList.remove('anim-alert-link-in')
	//     })
	//     contact_twitter.addEventListener('click', ()=>{
	//     	console.log(alert_link)
	//     	console.log(alert_text)
	//     	insta_alert.classList.add('ds-in')
	//     	insta_alert.classList.remove('ds-none')
	//     	mordal_back.classList.add('ds-in')
	//     	mordal_back.classList.remove('ds-out')
	//     	alert_text.textContent = "Twitterを開きますか？"
	//     	alert_link.innerHTML = '<a href="twitter:@tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
	//     	alert_yes.classList.remove('anim-alert-link-in')
	//     })
	//     mordal_back.addEventListener('click', ()=>{
    //         insta_alert.classList.add('ds-out')
    //         mordal_back.classList.add('ds-out')
	//     	insta_alert.classList.remove('ds-in')
    //         mordal_back.classList.remove('ds-in')
    //     })
	// })
	const about_insta = document.getElementById('js-about-insta')
	const about_twitter = document.getElementById('js-about-twitter')
	const contact_insta = document.getElementById('js-contact-insta-alert')
	const contact_twitter = document.getElementById('js-contact-twitter-alert')
	const insta_alert = document.getElementById('js-alert')
    const mordal_back = document.getElementById('js-mordal-back')
	const alert_text = document.getElementById('js-alert-text')
	const alert_link = document.getElementById('js-alert-link')
	const alert_yes = document.getElementById('js-alert-yes')
    const alert_no = document.getElementById('js-alert-no')
	about_insta.addEventListener('click', ()=>{
		insta_alert.classList.add('ds-in')
		insta_alert.classList.remove('ds-none')
		mordal_back.classList.add('ds-in')
		mordal_back.classList.remove('ds-out')
		alert_text.innerText = "Instagramを開きますか？"
		alert_link.innerHTML = '<a href="https://instagram.com/tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
		alert_yes.classList.remove('anim-alert-link-in')
	})
	about_twitter.addEventListener('click', ()=>{
		insta_alert.classList.add('ds-in')
		insta_alert.classList.remove('ds-none')
		mordal_back.classList.add('ds-in')
		mordal_back.classList.remove('ds-out')
		alert_text.innerText = "Twitterを開きますか？"
		alert_link.innerHTML = '<a href="twitter:@tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
		alert_yes.classList.remove('anim-alert-link-in')
	})
	contact_insta.addEventListener('click', ()=>{
		insta_alert.classList.add('ds-in')
		insta_alert.classList.remove('ds-none')
		mordal_back.classList.add('ds-in')
		mordal_back.classList.remove('ds-out')
		alert_text.innerText = "Instagramを開きますか？"
		alert_link.innerHTML = '<a href="https://instagram.com/tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
		alert_yes.classList.remove('anim-alert-link-in')
	})
	contact_twitter.addEventListener('click', ()=>{
		insta_alert.classList.add('ds-in')
		insta_alert.classList.remove('ds-none')
		mordal_back.classList.add('ds-in')
		mordal_back.classList.remove('ds-out')
		alert_text.innerText = "Twitterを開きますか？"
		alert_link.innerHTML = '<a href="twitter:@tatsu_aihara" class="alert-button__link" id="js-alert-link">はい</a>'
		alert_yes.classList.remove('anim-alert-link-in')
	})
	mordal_back.addEventListener('click', ()=>{
        insta_alert.classList.add('ds-out')
        mordal_back.classList.add('ds-out')
		insta_alert.classList.remove('ds-in')
        mordal_back.classList.remove('ds-in')
    })

	const scrolldown = document.getElementById('js-scrolldown')
    window.addEventListener('load', ()=>{
        scrolldown.classList.add('anim-fadein-scroll')
    })

	const insta_hover = document.getElementById('js-contact-insta-hover')
    const insta = document.getElementById('js-contact-insta')
    const insta_icon = document.getElementById('js-icon-insta')
    insta_hover.addEventListener('mouseover', ()=>{
        insta.classList.add('mouseover-insta');
        insta.classList.remove('mouseleave-insta');
        insta_icon.classList.add('in-rotate-insta');
        insta_icon.classList.remove('out-rotate-insta');
    })
    insta_hover.addEventListener('mouseleave', ()=>{
        insta.classList.remove('mouseover-insta');
        insta.classList.add('mouseleave-insta');
        insta_icon.classList.remove('in-rotate-insta');
        insta_icon.classList.add('out-rotate-insta');
    })

	const twi_hover = document.getElementById('js-contact-twitter-hover')
    const twi = document.getElementById('js-contact-twitter')
    const twi_icon = document.getElementById('js-icon-twitter')
    twi_hover.addEventListener('mouseover', ()=>{
        twi.classList.add('mouseover-twi');
        twi.classList.remove('mouseleave-twi');
        twi_icon.classList.add('in-rotate-twi');
        twi_icon.classList.remove('out-rotate-twi');
    })
    twi_hover.addEventListener('mouseleave', ()=>{
        twi.classList.remove('mouseover-twi');
        twi.classList.add('mouseleave-twi');
        twi_icon.classList.remove('in-rotate-twi');
        twi_icon.classList.add('out-rotate-twi');
    })
	
</script> -->