---
import '../css/inner/inner.css'
import '../css/root/root.css'
---

<section class="works">
    <div class="inner inner--works">
        <h2 class="heading heading--works">
            <span class="heading__wrapper js-heading--works">
                <span class="heading__splitText">W</span>
                <span class="heading__splitText">o</span>
                <span class="heading__splitText">r</span>
                <span class="heading__splitText">k</span>
                <span class="heading__splitText">s</span>
            </span>
        </h2>
        <ul class="works-list">
            <li class="works-list__item" id="js-works__item">
                <a href="/works/hamori">
                    <div class="works-list__image">
                        <img id="js-works__img" src="../../images/HAMORI.jpg" alt="">
                    </div>
                    <div class="works-list__title">
                        <h3 class="works-list__text">HAMORI</h3>
                        <p class="works-list__time">
                            <time>2023/09/20</time>
                        </p>
                    </div>    
                    <span class="works-list__skills">
                        <span class="works-list__skill">Figma</span>
                        <span class="works-list__skill">Illustrator</span>
                        <span class="works-list__skill">UXリサーチ</span>
                        <span class="works-list__skill">ユーザー体験設計</span>
                        <span class="works-list__skill">UI設計</span>
                    </span>                        
                </a>
            </li>
            <li class="works-list__item" id="js-works__item">
                <a href="/works/hamori">
                    <div class="works-list__image">
                        <img id="js-works__img" src="../../images/HAMORI.jpg" alt="">
                    </div>
                    <div class="works-list__title">
                        <h3 class="works-list__text">HAMORI</h3>
                        <p class="works-list__time">
                            <time>2023/09/20</time>
                        </p>
                    </div>    
                    <span class="works-list__skills">
                        <span class="works-list__skill">Figma</span>
                        <span class="works-list__skill">Illustrator</span>
                        <span class="works-list__skill">UXリサーチ</span>
                        <span class="works-list__skill">ユーザー体験設計</span>
                        <span class="works-list__skill">UI設計</span>
                    </span>                        
                </a>
            </li>
            <li class="works-list__item" id="js-works__item">
                <a href="/works/hamori">
                    <div class="works-list__image">
                        <img id="js-works__img" src="../../images/HAMORI.jpg" alt="">
                    </div>
                    <div class="works-list__title">
                        <h3 class="works-list__text">HAMORI</h3>
                        <p class="works-list__time">
                            <time>2023/09/20</time>
                        </p>
                    </div>    
                    <span class="works-list__skills">
                        <span class="works-list__skill">Figma</span>
                        <span class="works-list__skill">Illustrator</span>
                        <span class="works-list__skill">UXリサーチ</span>
                        <span class="works-list__skill">ユーザー体験設計</span>
                        <span class="works-list__skill">UI設計</span>
                    </span>                        
                </a>
            </li>
        </ul>
    </div>
</section>

<style lang="scss">
    .works{
        position: relative;
        width: 100%;
        padding: 120px 0;
        background-color: var(--color-bg-black);

    &__inner{
        padding-inline: 8vw;

        @media screen and (min-width:1024px) {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            padding-inline: 80px;
        }
    }

    &-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px 32px;
        margin-top: 80px;

            @media screen and (min-width:768px) {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: calc(120px - 32px);
            }

        &__item{
            width: 100%;
            transition: all .3s;
            margin-top: 40px;

            &:active{
                transform: scale(1.2);
                transition: all .3s;
            }

            @media screen and (min-width:768px) {
                width: calc((100% - 80px) / 3);
                margin-top: 40px;
            }

            > a{
                display: flex;
                flex-direction: column;
            }
        }

        &__image{
            width: 100%;

            > img{
                max-width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
        }

        &__skills{
            display: flex;
            flex-wrap: wrap;
            gap: 8px 8px;
            margin-top: 16px;
        }

        &__skill{
            color: var(--color-white);
            padding: 4px 8px;
            border: 1px solid var(--color-white);
            // color: var(--color-bg-black);
            // background-color: var(--color-gray);
            border-radius: 8px;
            font-size: var(--font-size-xxs);
            font-family: var(--font-family-ja);
        }

        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
        }

        &__text{
            font-size: var(--font-size-ms);
        }

        &__time{
            font-size: var(--font-size-xs);
        }
    }
}
    
    .anim{
        &-works{
            &__img-up{
                animation: img-up 10s forwards;
                @keyframes img-up {
                    0%{
                        transform: scale(1);
                    }
                    10%{
                        transform: scale(1.05);
                        border-radius: 16px;
                    }
                    100%{
                        transform: scale(1.5);
                        border-radius: 400px;
                    }
                }
            }
            &__img-down{
                animation: img-down .2s forwards;
                @keyframes img-down {
                    0%{
                        transform: scale(1.2);
                        border-radius: 200px;
                    }
                    100%{
                        transform: scale(1);
                        border-radius: 0;
                    }
                }
            }
        }
    }
</style>

<script>
    window.addEventListener('mouseover', ()=>{
        document.querySelectorAll('#js-works__item').forEach((works_item)=>{
            const works_img = works_item.querySelector('#js-works__img')
            works_item.addEventListener('mouseover', ()=>{
                works_img.classList.add('anim-works__img-up')
                works_img.classList.remove('anim-works__img-down')
            })
            works_item.addEventListener('mouseleave', ()=>{
                works_img.classList.remove('anim-works__img-up')
                works_img.classList.add('anim-works__img-down')
            })
        })
    })
</script>